
.headerMain{
    background-image: url('/public/img/Header.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 1;
    height: 40vh;

}
.headerMain::before{
    background-color: rgba(0, 0, 0, 0.5);
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
}
.headerMain *{
    z-index: 1;
}
.headerMain h1{
    font-size: 3rem;
    margin-bottom: 0.2rem;
}
.headeMain p {
    font-size: 1.25rem;
}
.headerMain hr{
    width: 80%;
    border: 1px solid rgba(255, 255, 255, 0.5);
    
}